:root {
  --scrollbar: #ccc;
  --border: #e9e9e9;
  --text: #212121;
  --blue: #369;
  --light-grey: #888;
}

body {
  color: var(--text);
  width: 500px;
  font-size: 12px;
  line-height: 1.6;
}

p {
  margin: 0;
}

blockquote {
  border-left: 2px solid var(--border);
  color: #4f4f4f;
  padding: 0 8px;
  margin: 2px 0 2px 5px;
}

#subreddits::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 2px;
}

#subreddits {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE 10+ */
}

.subreddit {
  padding: 4px;
  margin: 0 4px 0 0;
  border: solid 1px var(--border);
  border-radius: 2px;
  cursor: pointer;
}

.subreddit:hover {
  background-color: var(--border);
}

.postWrap {
  display: none;
  align-items: center;
  margin: 12px 0;
}

.postTitle {
  font-size: 14px;
  margin: 0 0 4px 0;
  color: var(--text);
  text-decoration: none;
}

.postTitle:hover {
  text-decoration: underline;
}

.postScore {
  margin: 0 8px 0 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--light-grey);
}

.infoPostWrap {
  display: flex;
  align-items: center;
  margin: 2px 0 0 0;
}

.postAuthor {
  color: var(--blue);
  text-decoration: none;
}

.postAuthor:hover {
  text-decoration: underline;
}

.comment {
  display: block;
  word-wrap: break-word;
  margin: 8px 0;
}

.comment .comment {
  margin: 8px 0 0 8px;
  padding: 0 0 0 6px;
  border-left: 1px solid var(--border);
}

.infoWrap {
  display: flex;
  align-items: center;
}

.infoWrap > *:not(:last-child) {
  margin: 0 6px 0 0; 
}

.commentAuthor {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
}

.commentAuthor:hover {
  text-decoration: underline;
}

.info {
  font-size: 10px;
  color: var(--light-grey);
}

.md a {
  color: #0079d3;
  text-decoration: none;
}

#message {
  text-align: center;
}

#sort {
  display: none;
}