:root {
  --scrollbar: #ccc;
  --light-grey: #e9e9e9;
  --border: #cacfd2;
  --line: #ddf;
  --text: #212121;
  --blue: #369;
  --dark-grey: #888;
  --bold-grey: #c6c6c6;
  --background: transparent;
  --white: #fff;
  --link-blue: #0079d3;
  --blockQuote: #4f4f4f;
  --orange: #ff8b60;
  --purple: #9494ff;
  scrollbar-color: var(--scrollbar) transparent !important;
  scrollbar-width: thin !important;
}

[data-theme='dark'] {
  --scrollbar: #626567;
  --light-grey: #565656;
  --border: #565656;
  --line: #565656;
  --text: #f0f3f4;
  --blue: #3498db;
  --link-blue: #3498db;
  --dark-grey: #909090;
  --background: #181818;
  --white: #212121;
  --blockQuote: #acacac;
}

body {
  margin: 0;
}

#redComments {
  font-family: verdana, sans-serif;
  color: var(--text);
  font-size: 25px;
  line-height: 22px;
  background-color: var(--background);
}

.popup {
  width: 600px;
  margin: 8px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
}

.toggleButton {
  height: 28px;
  width: 28px;
  padding: 0;
  margin: 0 0 0 8px;
}

.toggleImg {
  cursor: pointer;
  height: 28px;
  width: 28px;
}

#redditImgWrap {
  display: none;
  justify-content: flex-end;
  margin: 20px 0 -50px 0;
  position: relative;
}

.subredditContainer {
  display: flex;
  justify-content: space-between;
}

#subredditWrap {
  display: flex;
  justify-content: space-between;
}

#subreddits::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 2px;
}

#subreddits {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scrollbar-color: var(--scrollbar) transparent !important;
  scrollbar-width: thin !important;
}

.subreddit {
  padding: 4px;
  margin: 0 4px 0 0;
  border: solid 1px var(--border);
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  background-color: var(--white);
  color: var(--text);
}

.subreddit:hover {
  background-color: var(--light-grey) !important;
}

.post {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.postTitle {
  font-size: 16px;
  margin: 0 0 4px 0;
  color: var(--text);
  text-decoration: none;
}

.postTitle:hover {
  text-decoration: underline;
}

.postScore {
  margin: 0 8px 0 0;
}

.arrow {
  height: 14px;
  width: 15px;
  cursor: pointer;
  margin: auto;
}

.arrowMargin {
  margin: 2px 0px 0px 0px;
}

.upvote {
  background-image: url(../sprite-reddit.png);
  background-position: -106px -1654px;
  background-repeat: no-repeat;
}

.upmod {
  background-image: url(../sprite-reddit.png);
  background-position: 0px -1676px;
  background-repeat: no-repeat;
}

.downvote {
  background-image: url(../sprite-reddit.png);
  background-position: -64px -1654px;
  background-repeat: no-repeat;
}

.downmod {
  background-image: url(../sprite-reddit.png);
  background-position: -85px -1654px;
  background-repeat: no-repeat;
}

.postNumber {
  font-size: 14px;
  font-weight: 600;
  color: var(--bold-grey);
  text-align: center;
}

.orange {
  color: var(--orange);
}

.purple {
  color: var(--purple);
}

.infoPostWrap {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.postAuthor {
  color: var(--blue);
  text-decoration: none;
}

.postAuthor:hover {
  text-decoration: underline;
}

.info {
  color: var(--dark-grey);
  padding: 0;
  font-size: 10px;
}

.collapsed {
  color: var(--dark-grey) !important;
  font-style: italic;
}

.collapsedMargin {
  margin: 0 0 0 23px !important;
}

.selectedPost {
  background-color: var(--light-grey);
}

.child {
  margin: 0 0 0 15px;
  padding: 0 0 0 12px;
  border-left: 1px dotted var(--line);
}

.commentInfo {
  margin: 10px 0;
  display: flex;
}

.infoWrap {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: normal;
  margin: 0 0 3px 0;
}

.infoWrap>*:not(:last-child) {
  margin: 0 6px 0 0;
}

.commentTitle {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
}

.commentTitle:hover {
  text-decoration: underline;
}

.commentBody {
  font-size: 14px;
}

.loadMore {
  padding: 6px 0 6px 0px;
  cursor: pointer;
  font-size: 10px;
  border: none;
  background-color: transparent;
  line-height: 22px;
  font-family: Verdana, sans-serif;
}

.md a {
  color: var(--link-blue);
  text-decoration: none;
}

.submit {
  color: var(--link-blue);
  text-decoration: none;
}

.submit:hover {
  text-decoration: underline;
}

select {
  display: block;
  border: solid 1px var(--border);
  background-color: var(--white);
  border-radius: 2px;
  color: var(--text);
  margin: 0 0 6px 0;
  font-size: 12px;
  font-family: verdana, sans-serif;
}

p {
  margin: 0;
}

#redComments ol,
#redComments ul {
  margin: 0;
  padding-inline-start: 40px !important;
}

blockquote {
  border-left: 2px solid var(--border);
  color: var(--blockQuote);
  padding: 0 8px;
  margin: 2px 0 2px 5px;
}

.md h1,
.md h2 {
  font-size: 20px;
  line-height: 22px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.message {
  text-align: center;
  font-size: 14px;
}

.options {
  color: var(--text);
  background-color: var(--background);
  padding: 8px;
}

.optionItemWrap {
  display: flex;
  align-items: center;
  margin: 0 0 18px 0;
}

.selectBoxWrap {
  margin: 0 6px 0 0;
}

input[type='checkBox'] {
  margin: 0 6px 0 0;
}