* {
  box-sizing: inherit !important;
}

body {
  height: auto;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantrell',
    'Open Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 2px;
}

/* comment body css */

.md a {
  /* color: var(--link-blue); */
  text-decoration: none;
}

p {
  margin: 7px 0;
  line-height: 20px;
}

p:last-child {
  margin: 7px 0 0 0;
}

blockquote {
  border-left: 2px solid var(--border);
  color: var(--blockQuote);
  padding: 0 8px;
  margin: 2px 0 2px 5px;
}

.md h1,
.md h2 {
  font-size: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.voatCommentBody a {
  color: #4aabe7;
  text-decoration: none;
}

.voatCommentBody a:hover {
  text-decoration: underline;
}

#redditImgWrap {
  margin: 16px 0 -52px 0;
  display: none;
}
