#popupBody {
  width: 650px;
  height: auto;
  margin: 0;
  background: var(--theme-ui-colors-background);
  font-family: 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantrell',
    'Open Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#popupBody::-webkit-scrollbar,
#subreddits::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

#popupBody::-webkit-scrollbar-thumb,
#subreddits::-webkit-scrollbar-thumb {
  background: var(--theme-ui-colors-border);
  border-radius: 2px;
}

/* comment body css */

.voatCommentBody p {
  margin: 7px 0;
  line-height: 20px;
}

.voatCommentBody p:last-child {
  margin: 7px 0 0 0;
}

.voatCommentBody blockquote {
  border-left: 2px solid var(--theme-ui-colors-border);
  padding: 0 8px;
  margin: 2px 0 2px 5px;
}

.voatCommentBody .md h1,
.voatCommentBody .md h2 {
  font-size: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.voatCommentBody a {
  color: var(--theme-ui-colors-primary);
  text-decoration: none;
}

.voatCommentBody a:hover {
  text-decoration: underline;
}

.voatCommentBody table {
  border-collapse: collapse;
}

.voatCommentBody .md td,
.voatCommentBody .md th {
  border: 1px solid var(--theme-ui-colors-border);
  text-align: left;
}

.voatCommentBody .md pre,
.voatCommentBody .md .-cells,
.voatCommentBody .md th,
.voatCommentBody .md td {
  padding: 4px 9px;
}

#redditImgWrap {
  margin: 16px 0 -52px 0;
  display: none;
}
