:root {
  --scrollbar: #ccc;
  --light-grey: #e9e9e9;
  --border: #cacfd2;
  --text: #212121;
  --blue: #369;
  --dark-grey: #888;
  --background: #fff;
  --link-blue: #0079d3;
  --blockQuote: #4f4f4f;
  scrollbar-color: var(--scrollbar) transparent !important;
  scrollbar-width: thin !important;
}

#redComments {
  font-family: Verdana, sans-serif;
  color: var(--text);
  font-size: 25px;
  line-height: 22px;
}

.popup {
  width: 600px;
  margin: 8px;
}

button {
  border: none;
  background: transparent;
}

.toggleButton {
  height: 28px;
  width: 28px;
  padding: 0;
  margin: 0 0 0 8px;
}

.toggleImg {
  cursor: pointer;
  height: 28px;
  width: 28px;
}

#redImgWrap {
  display: none;
  justify-content: flex-end;
  margin: 20px 0 -50px 0;
  position: relative;
}

.subredditContainer {
  display: flex;
  justify-content: space-between;
}

#subredditWrap {
  display: flex;
  justify-content: space-between;
}

#subreddits::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 2px;
}

#subreddits {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scrollbar-color: var(--scrollbar) transparent !important;
  scrollbar-width: thin !important;
}

.subreddit {
  padding: 6px;
  margin: 0 4px 0 0;
  border: solid 1px var(--border);
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  background-color: var(--background);
}

.subreddit:hover {
  background-color: var(--light-grey) !important;
}

.post {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.postTitle {
  font-size: 16px;
  margin: 0 0 4px 0;
  color: var(--text);
  text-decoration: none;
}

.postTitle:hover {
  text-decoration: underline;
}

.postScore {
  margin: 0 8px 0 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-grey);
}

.infoPostWrap {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.postAuthor {
  color: var(--blue);
  text-decoration: none;
}

.postAuthor:hover {
  text-decoration: underline;
}

.info {
  color: var(--dark-grey);
}

.selectedPost {
  background-color: var(--light-grey);
}

.comment {
  display: flex;
}

.commentLine {
  opacity: 0.6;
  height: auto;
  padding: 0 0 0px 12px;
  border-left: 1px solid var(--border);
}

.commentInfo {
  margin: 6px 0;
}

.infoWrap {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.infoWrap > *:not(:last-child) {
  margin: 0 6px 0 0;
}

.commentTitle {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
}

.commentTitle:hover {
  text-decoration: underline;
}

.commentBody {
  font-size: 14px;
}

.loadMore {
  padding: 6px 0 6px 0px;
  cursor: pointer;
  font-size: 10px;
  border: none;
  background-color: transparent;
  line-height: 22px;
  font-family: Verdana, sans-serif;
}

.info {
  color: var(--dark-grey);
}

.md a {
  color: var(--link-blue);
  text-decoration: none;
}

.submit {
  color: var(--link-blue);
  text-decoration: none;
}

.submit:hover {
  text-decoration: underline;
}

select {
  display: block;
  border: solid 1px var(--border);
  background-color: var(--background);
  border-radius: 2px;
  color: var(--text);
  margin: 0 0 6px 0;
  font-size: 12px;
}

p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-inline-start: 40px !important;
}

blockquote {
  border-left: 2px solid var(--border);
  color: var(--blockQuote);
  padding: 0 8px;
  margin: 2px 0 2px 5px;
}

.md h1,
.md h2 {
  font-size: 20px;
  line-height: 22px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.message {
  text-align: center;
  font-size: 14px;
}